In [1]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,np.nan,5,6],index=['A','B','C','D','E','F'])
print(s)

A    1.0
B    2.0
C    3.0
D    NaN
E    5.0
F    6.0
dtype: float64

In [3]:
import pandas as pd
data={'Gender':['F','M','M'],'Emp_ID':['E01','E02','E03'],'Age':[25,27,25]}
df=pd.DataFrame(data,columns=['Emp_ID','Gender','Age'])
print(df)
print(df.Emp_ID)
print(df.Emp_ID[0])

  Emp_ID Gender  Age
0    E01      F   25
1    E02      M   27
2    E03      M   25
0    E01
1    E02
2    E03
Name: Emp_ID, dtype: object
E01

In [7]:
import pandas as pd
import xlrd
df1 = pd.read_csv('/Users/vaishu/Desktop/Data/mtcars.csv')
df2=pd.read_csv('/Users/vaishu/Desktop/Data/mtcars.txt',sep='\t')
df3=pd.read_excel('/Users/vaishu/Desktop/Data/mtcars.xlsx','Sheet1')
xlsx=pd.ExcelFile('/Users/vaishu/Desktop/Data/file_name.xls')
sheet1_df=pd.read_excel(xlsx,'Sheet1')
sheet2_df=pd.read_excel(xlsx,'Sheet1')
df1.to_csv('/Users/vaishu/Desktop/Data/mtcars_new.csv',index=False)
df2.to_csv('/Users/vaishu/Desktop/Data/mtcars_new.txt',sep='\t',index=False)
df3.to_excel('/Users/vaishu/Desktop/Data/mtcars_new.xlsx',sheet_name='Sheet1',index=False)

In [5]:
import pandas as pd
df = pd.read_csv('/Users/vaishu/Desktop/Data/iris.csv')
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [13]:

df = pd.read_csv('/Users/vaishu/Desktop/Data/iris.csv')
df.cov()

              sepal.length  sepal.width  petal.length  petal.width
sepal.length      0.685694    -0.042434      1.274315     0.516271
sepal.width      -0.042434     0.189979     -0.329656    -0.121639
petal.length      1.274315    -0.329656      3.116278     1.295609
petal.width       0.516271    -0.121639      1.295609     0.581006

In [15]:
df = pd.read_csv('/Users/vaishu/Desktop/Data/iris.csv')
df.corr()

              sepal.length  sepal.width  petal.length  petal.width
sepal.length      1.000000    -0.117570      0.871754     0.817941
sepal.width      -0.117570     1.000000     -0.428440    -0.366126
petal.length      0.871754    -0.428440      1.000000     0.962865
petal.width       0.817941    -0.366126      0.962865     1.000000